vouch:
  allowAllUsers: true
  logLevel: debug
  headers:
    claims:
      - id
      - discriminator
      - email

oauth:
  provider: oidc
  auth_url: https://discordapp.com/api/oauth2/authorize
  token_url: https://discordapp.com/api/oauth2/token
  user_info_url: https://discordapp.com/api/users/@me
  scopes:
    - identify
    - guilds
    - email
